extends layout

block content
  h1= title
  - let items = results; 
   button.btn( class="btn btn-sm btn-info ml-1", onclick= `dispatch(\"/players/create\")` ) Create
  table(class="table table-stripped table-bordered")
        thead(style="background-color:lightgreen;color:white") 
            tr
                td Player ID
                td Player Name 
                td Batting Style 
                td Purchased Cost 
                td Update
                td Details 
                td Delete
        tbody
            
            each item in items
                -let itemid=item._id
                tr
                    td #{item._id}
                    td #{item.Player_name}
                    td #{item.Batting_style}
                    td #{item.Purchased_cost}
                    td 
                      button.btn( class="btn btn-sm btn-info ml-1", onclick= `dispatch(\"/players/update/?id=${item._id}\")` ) Update 
                    td 
                      button.btn( class="btn btn-sm btn-info ml-1", onclick= `dispatch(\"/players/detail/?id=${item._id}\")` ) Detail 
                    td 
                      button.btn( class="btn btn-sm btn-info ml-1", onclick= `dispatch(\"/players/delete/?id=${item._id}\")` ) Delete 
                script. 
                  function dispatch(path){ 
                    window.location.href=path 
                  } 
                  