extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let playerid = toShow._id 
    - let Player_name = toShow.Player_name 
    - let Batting_style = toShow.Batting_style 
    - let Purchased_cost = toShow.Purchased_cost
    - let actionid = "/resource/player/" + playerid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='playerAttr mr-3') Pplayer ID is: 
        div #{playerid} 
      div.row 
        div(class='playerAttr mr-3') Player Name is: 
        div #{Player_name} 
      div.row 
        div(class='playerAttr mr-3') Batting Style is: 
        div #{Batting_style} 
      div.row 
        div(class='playerAttr mr-3') Player Cost is: 
        div #{Purchased_cost} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the player collection 
      window.location.href='/player' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      //Don't need a body for the delete 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/player' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 